.wordPad {
    margin-right: 0.15em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    cursor: pointer;
  
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
  
    color: #2f374d;
  }
  
.punctuationPad {
    margin-right: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    cursor: pointer;
  
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
  }